{% extends 'base.html' %}

{% load static %}

{% load socialaccount %}

{% block content %}


<link href="{% static 'css/login.css' %}" rel='stylesheet'>
<body>
    <div class="signup=form">
        <form class="form" method="post">
            {% csrf_token %}
            {{ form.as_p }}   
            <p class="title">Register </p>
            <p class="message">Signup now and get full access to our app. </p>
            <div class="flex">
                <label>
                    <input class="input" type="text" placeholder="" required="" name="first_name">
                    <span>Firstname</span>
                </label>
        
                <label>
                    <input class="input" type="text" placeholder="" required="" name="last_name">
                    <span>Lastname</span>
                </label>
            </div>  
        
            <label>
                <input class="input" type="email" placeholder="" required="" name="email">
                <span>Email</span>
            </label> 
        
            <label>
                <input class="input" type="password" placeholder="" required="" name="password">
                <span>Password</span>
            </label>
            <label>
                <input class="input" type="password" placeholder="" required="" name="password_confirm">
                <span>Confirm password</span>
            </label>
            <button class="submit">Submit</button>
            <p class="signin">Already have an acount ? <a href="#">Signin</a> </p>
            <div class="striped">
                <span class="striped-line"></span>
                <span class="striped-text">Or</span>
                <span class="striped-line"></span>
            </div>
            <div class="method">
                <div class="method-control">
                    <a href="{% provider_login_url 'google' %}" class="method-action">
                        <img src="{% static 'images/google.png'%}" alt="google" class="method-image">
                        <span>Sign Up with Google</span>
                    </a>
                </div>
            </div>
        </form>
</div>
</body>
{% endblock %}