{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- <link href="{% static 'css/style2.css' %}"  rel="stylesheet"> -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TradePulse</title>
        <!-- <link href="style2.css" rel="stylesheet" > -->
        <!-- <link href="style.css" rel="stylesheet" > -->
        <!-- <link rel="icon" href="./Trade Pulse ico.png" type="image/x-icon"> -->
          <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" /> -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <body>
      <div class="placeholder"></div>
        <div class="navholder">
          <div class="navb">
              <div class="navbar">
                <div class="nav-left">
                    <div class="navbar-link"><a href="#">Home</a></div>
                    <div class="navbar-link"><a href="{% url 'crypto' %}">Cryptocurrency</a></div>
                    <div class="navbar-link"><a href="{% url 'login' %}">Academy</a></div>
                  </div>
                  <div class="nav-logo">
                    <img src="https://res.cloudinary.com/ds2uw5gcw/image/upload/v1712660151/Trade_Pulse_idzyuu.png" alt="">
                  </div>
                  <div class="nav-right">
                    <div class="navbar-link"><a href="http://127.0.0.1:5500/index.html">News</a></div>
                    <div class="navbar-link"><a href="{% url 'watchlist' %}">Watchlist</a></div>
                    <div class="navbar-link"><a href="personal.html">Personal Finance</a></div>
                  </div>
              </div>
            </div>
        </div>
        
        <section class="hero-sec">
        <!-- <div class="tradingview-widget-container"> -->
          <div class="tradingview-widget-container__widget"></div>
          <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
          <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
          {
          "symbols": [
            {
              "description": "TESLA",
              "proName": "NASDAQ:TSLA"
            },
            {
              "description": "NVIDIA",
              "proName": "NASDAQ:NVDA"
            },
            {
              "description": "APPLE",
              "proName": "NASDAQ:AAPL"
            },
            {
              "description": "MICROSOFT",
              "proName": "NASDAQ:MSFT"
            },
            {
              "description": "AMAZON",
              "proName": "NASDAQ:AMZN"
            },
            {
              "description": "META",
              "proName": "NASDAQ:META"
            },
            {
              "description": "NETFLIX",
              "proName": "NASDAQ:NFLX"
            },
            {
              "description": "GOOGLE",
              "proName": "NASDAQ:GOOGL"
            },
            {
              "description": "INTEL",
              "proName": "NASDAQ:INTC"
            },
            {
              "description": "AIRBNB",
              "proName": "NASDAQ:ABNB"
            },
            {
              "description": "ADOBE",
              "proName": "NASDAQ:ADBE"
            },
            {
              "description": "UBER",
              "proName": "NYSE:UBER"
            },
            {
              "description": "WALMART",
              "proName": "NYSE:WMT"
            },
            {
              "description": "NIKE",
              "proName": "NYSE:NKE"
            },
            {
              "description": "BOEING",
              "proName": "NYSE:BA"
            },
            {
              "description": "MONGODB",
              "proName": "NASDAQ:MDB"
            },
            {
              "description": "MCDONALD'S",
              "proName": "NYSE:MCD"
            }
          ],
          "showSymbolLogo": true,
          "isTransparent": false,
          "displayMode": "regular",
          "colorTheme": "dark",
          "locale": "en"
        }
          </script></a></div>
        </div>
        <!-- TradingView Widget END -->
        <!-- <imgsrc="https://i.pinimg.com/564x/18/22/10/182210f811cbfee517b6ad0bc5c2e9ac.jpg" alt=""> -->
      </section>
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Algorithmic Trading</h5>
          <p class="card-text">Algorithmic trading automates order execution through computer algorithms analyzing market
            data,
            optimizing trades for speed, efficiency, and risk management. It enhances market liquidity and price discovery
            while requiring accurate strategies to mitigate risks and capitalize on opportunities,
            driving its efficacy and impact in financial markets.</p>
          <a href="#" class="btn btn-success">Experience now</a>
        </div>
      
      </div>
        <!-- TradingView Widget BEGIN -->
    
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js" async>
      {
      "feedMode": "market",
      "market": "stock",
      "isTransparent": false,
      "displayMode": "compact",
      "width": "100%",
      "height": "420",
      "colorTheme": "dark",
      "locale": "en"
    }
      </script></a></div>
    </div>
    <!-- TradingView Widget END -->
      </div>
      <nav class="navbar bg-dark ">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="#">Top Stocks</a> <!--Take it to center-->
        </div>
      </nav>
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container1">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow"
            target="_blank">
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
                {
                  "symbols": [
                    [
                      "Apple",
                      "AAPL|1D"
                    ],
                    [
                      "Google",
                      "GOOGL|1D"
                    ],
                    [
                      "Microsoft",
                      "MSFT|1D"
                    ],
                    [
                      "Tesla",
                      "NASDAQ:TSLA|1D"
                    ],
                    [
                      "Amazon",
                      "NASDAQ:AMZN|1D"
                    ],
                    [
                      "Meta",
                      "NASDAQ:META|1D"
                    ],
                    [
                      "Adobe",
                      "NASDAQ:ADBE|1D"
                    ],
                    [
                      "Intel",
                      "NASDAQ:INTC|1D"
                    ],
                    [
                      "NVIDIA",
                      "NASDAQ:NVDA|1D"
                    ],
                    [
                      "NIKE",
                      "NYSE:NKE|1D"
                    ]
                  ],
                    "chartOnly": false,
                      "width": "100%",
                        "height": "550",
                          "locale": "en",
                            "colorTheme": "dark",
                              "autosize": false,
                                "showVolume": false,
                                  "showMA": false,
                                    "hideDateRanges": false,
                                      "hideMarketStatus": false,
                                        "hideSymbolLogo": false,
                                          "scalePosition": "right",
                                            "scaleMode": "Normal",
                                              "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
                                                "fontSize": "10",
                                                  "noTimeScale": false,
                                                    "valuesTracking": "1",
                                                      "changeMode": "price-and-percent",
                                                        "chartType": "area",
                                                          "maLineColor": "#2962FF",
                                                            "maLineWidth": 1,
                                                              "maLength": 9,
                                                                "lineWidth": 2,
                                                                  "lineType": 0,
                                                                    "dateRanges": [
                                                                      "1d|1",
                                                                      "1m|30",
                                                                      "3m|60",
                                                                      "12m|1D",
                                                                      "60m|1W",
                                                                      "all|1M"
                                                                    ]
                }
              </script>
          </a></div>
      </div>
      <!-- TradingView Widget END -->
      <div class="card text-center bg-dark text-white">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Stock Forecasting</h5>
          <p class="card-text">Stock forecasting utilizes historical data, statistical analysis, and machine learning algorithms to predict future price movements of stocks. Techniques like time series analysis, sentiment analysis, and neural networks are employed to forecast trends and make informed investment decisions. However, stock forecasting is inherently uncertain due to market volatility and unpredictable events.</p>
          <a href="forecast.html" class="btn btn-success">Experience now</a>
        </div>
      </div>
     
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container2">
      <div class="tradingview-widget-container__widget"></div>
      <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/" rel="noopener nofollow" target="_blank">
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
      {
      "width": "100%",
      "height": 523,
      "defaultColumn": "overview",
      "defaultScreen": "most_capitalized",
      "market": "america",
      "showToolbar": true,
      "colorTheme": "dark",
      "locale": "in",
      "isTransparent": false
    }
      </script></a></div>
    </div>
    <!-- TradingView Widget END -->
    
    <nav class="navbar bg-dark ">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Advanced Charting</a> <!--Take it to center-->
      </div>
    </nav>
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container3">
      <div class="tradingview-widget-container__widget"></div>
      <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/" rel="noopener nofollow" target="_blank">
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
      {
      "width": "100%",
      "height": "650",
      "symbol": "NASDAQ:AAPL",
      "interval": "D",
      "timezone": "Etc/UTC",
      "theme": "dark",
      "style": "1",
      "locale": "in",
      "enable_publishing": false,
      "allow_symbol_change": true,
      "studies": [
        "STD;SMA",
        "STD;RSI"
      ],
      "support_host": "https://www.tradingview.com"
    }
      </script></a></div>
    </div>
    <!-- TradingView Widget END -->
    
    <div class="footer">
      <div class="container">
            <div class="row">
              <div class="col" id="information">
                <img src="https://res.cloudinary.com/ds2uw5gcw/image/upload/v1712660151/Trade_Pulse_idzyuu.png" alt="" class="logo1">
                <h1>Trade Pulse</h1>
                <p>Seamlessly monitor market trends, make informed decisions, and access advanced features to optimize trading strategies for better outcomes.</p>
    
              </div>
          <div class="col" id="Services">
            <h4>Products</h4>
            <div class="linked">
              <p>
                <a href="#!" class="text-reset">Stock Forecasting</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Algorithmic Trading</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Advanced Charting</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Stock Screener</a>
              </p>
          </div>
          </div>
          <div class="col" id="Links">
            <h4>Links</h4>
            <div class="linked">
              <p>
                <a href="#!" class="text-reset">Pricing</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Settings</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Orders</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Help</a>
              </p>
            </div>
          </div>
          <div class="col" id="Contact Us">
            <h4>Contact Us</h4>
            <div class="contact-details">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <p>tradepulse.support@gmail.com</p>
             
              <i class="fa fa-phone" aria-hidden="true"></i>
              <p>+91-595318359</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
{% endblock%}