{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" /> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
    <link href="{% static 'css/style2.css' %}"  rel="stylesheet">

<style> 
  .list{
    display: flex;
    justify-content: space-around;
    gap: 2em;
    flex-wrap: wrap;
    margin-top: 2em!important;
  }

  .btn{
    background-color: #1e222d;
    border: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  
  }
</style>
<body>
  
<div class="list">
      <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
    {
    "symbol": "NASDAQ:AAPL",
    "width": "450",
    "locale": "en",
    "colorTheme": "dark",
    "isTransparent": false
  }
    </script></a></div>
    <form class="d-flex" role="search">
        <button class="btn btn-outline-success" type="submit" >
          Add to Watchlist
        </button>
  </div>
  <!-- TradingView Widget END -->

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
    {
    "symbol": "NASDAQ:TSLA",
    "width": "450",
    "locale": "en",
    "colorTheme": "dark",
    "isTransparent": false
  }
    </script></a></div>
    <form class="d-flex" role="search">
        <button class="btn btn-outline-success" type="submit" >
          Add to Watchlist
        </button>
  </div>
  <!-- TradingView Widget END -->
  <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
    {
    "symbol": "NASDAQ:MSFT",
    "width": "450",
    "locale": "en",
    "colorTheme": "dark",
    "isTransparent": false
  }
    </script></a></div>
    <form class="d-flex" role="search">
        <button class="btn btn-outline-success" type="submit" >
          Add to Watchlist
        </button>
  </div>
  <!-- TradingView Widget END -->

<div class="list2">
    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
    {
    "symbol": "NASDAQ:META",
    "width": "450",
    "locale": "en",
    "colorTheme": "dark",
    "isTransparent": false
  }
    </script></a></div>
    <form class="d-flex" role="search">
        <button class="btn btn-outline-success" type="submit" >
          Add to Watchlist
        </button>
  </div>
  <!-- TradingView Widget END -->
  <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
    {
    "symbol": "NASDAQ:AMZN",
    "width": "450",
    "locale": "en",
    "colorTheme": "dark",
    "isTransparent": false
  }
    </script></a></div>
  
  <!-- TradingView Widget END -->
  <form class="d-flex" role="search">
    <button class="btn btn-outline-success" type="submit" >
      Add to Watchlist
    </button>
</div>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
    {
    "symbol": "NASDAQ:GOOGL",
    "width": "450",
    "locale": "en",
    "colorTheme": "dark",
    "isTransparent": false
  }
    </script></a></div>
    <form class="d-flex" role="search">
        <button class="btn btn-outline-success" type="submit" >
          Add to Watchlist
        </button>
  </div>
  <!-- TradingView Widget END -->
</div>
<div class="list3">
  <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
  {
  "symbol": "NASDAQ:NVDA",
  "width": "450",
  "locale": "en",
  "colorTheme": "dark",
  "isTransparent": false
}
  </script></a></div>
  <form class="d-flex" role="search">
    <button class="btn btn-outline-success" type="submit" >
      Add to Watchlist
    </button>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
  {
  "symbol": "NASDAQ:NFLX",
  "width": "450",
  "locale": "en",
  "colorTheme": "dark",
  "isTransparent": false
}
  </script></a></div>
  <form class="d-flex" role="search">
    <button class="btn btn-outline-success" type="submit" >
      Add to Watchlist
    </button>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
  {
  "symbol": "NYSE:UBER",
  "width": "450",
  "locale": "en",
  "colorTheme": "dark",
  "isTransparent": false
}
  </script></a></div>
  <form class="d-flex" role="search">
    <button class="btn btn-outline-success" type="submit" >
      Add to Watchlist
    </button>
</div>
<!-- TradingView Widget END -->
</div>
<div class="list4">
  <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
  {
  "symbol": "NASDAQ:ABNB",
  "width": "450",
  "locale": "en",
  "colorTheme": "dark",
  "isTransparent": false
}
  </script></a></div>
  <form class="d-flex" role="search">
    <button class="btn btn-outline-success" type="submit" >
      Add to Watchlist
    </button>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
  {
  "symbol": "NASDAQ:INTC",
  "width": "450",
  "locale": "en",
  "colorTheme": "dark",
  "isTransparent": false
}
  </script></a></div>
  <form class="d-flex" role="search">
    <button class="btn btn-outline-success" type="submit" >
      Add to Watchlist
    </button>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
  {
  "symbol": "NYSE:NKE",
  "width": "450",
  "locale": "en",
  "colorTheme": "dark",
  "isTransparent": false
}
  </script></a></div>
  <form class="d-flex" role="search">
    <button class="btn btn-outline-success" type="submit" >
      Add to Watchlist
    </button>
</div>
<!-- TradingView Widget END -->
</div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

{% endblock %}